/* ===== Window frame ===== */
.dashboard-preview {
  max-width: 1080px;
  margin: 3.5rem auto 0;
  padding: 15px 15px 0px 15px;
  background: #E3F6FB;
  border-right: 3px solid #EBEBEB;
  border-left: 3px solid #EBEBEB;
  border-bottom: 3px solid #EBEBEB;
  /* border-radius: 40px; */
  border-radius-top-left: 40px;
  border-radius-top-right: 40px;
}
.dashboard-preview img{
  width: 100%;
      position: relative;
    bottom: -10px;
}
